.loading {
  color: #fff;
  text-align: center;
  margin-top: 100px;
  font-size: 1.5em;
  font-weight: 400;
}

.main-info {
  width: 100%; 
  display: table;
}

.table-row {
  display: table-row;
}

.user-input {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: #000;
  padding: 30px;
  box-sizing: border-box;
}

.user-input .text-field {
  border: none;
  border-radius: 0%;
  background-color: transparent;
  font-size: 16pt;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  padding-left: 0;
}

.user-input .text-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbf00;
}

.user-input .text-field::placeholder {
  color: #fff;
}
.user-input .text-field:focus::placeholder {
  color: transparent;
}

.user-input .submit-button {
  display: none;
}

.partly-cloudy {
  background: url('partly-cloudy.jpg') no-repeat;
  background-size: initial;
}

@media only screen and (min-width: 768px) {
  .main-info {
    margin-top: 50px;
  }

  .partly-cloudy {
    background-size: cover;
  }
}