.temperature {
  color: #fff;
  font-size: 3.5em;
  font-weight: 100;
  display: table-cell;
  vertical-align: middle;
}


@media only screen and (min-width: 768px) {
  .temperature {
    display: table-cell;
    font-size: 5.5em;
    vertical-align: top;
  }
}